@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="widewrapper main">
    <div class="container blog-main">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="btn-group-vertical" role="group">
                    <a href="#" class="btn btn-tales-one btn-lg">Change Password</a>
                    <a href="#" class="btn btn-tales-one btn-lg">Articles</a>
                    <a href="~/Account/Tags" class="btn btn-tales-one btn-lg">Tags</a>
                </div>
            </div>
            <div class="hidden-sm col-md-8"></div>
        </div>
    </div>
</div>
