@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="widewrapper main">
    <div class="container blog-main">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="btn-group-vertical" role="group">
                    <button class="btn btn-tales-one btn-lg">Change Password</button>
                    <button class="btn btn-tales-one btn-lg">Articles</button>
                    <button class="btn btn-tales-one btn-lg">Categories</button>
                    <button class="btn btn-tales-one btn-lg">Tags</button>
                </div>
            </div>
            <div class="hidden-sm col-md-8"></div>
        </div>
    </div>
</div>
