@model BlogME.WebUI.Models.AccountViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h1>Login</h1>
                <p>username : password </p>
            </div>
            <aside class="col-md-4 blog-aside">
                <div class="aside-widget">
                    <header>
                        <h3>Recently published articles</h3>
                    </header>
                    <div class="body">
                        Article 1
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>