@model BlogME.Models.AboutViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayoutPage.cshtml";
}

<div class="widewrapper main">
    <div class="container about">
        <h1>Hello There, I’m <span class="about-bold">Willy Wonka!</span></h1>
        <span class="about-large">I’m a <span class="about-italic">linux server administrator</span> and <span class="about-italic">reliability expert</span>. <br> <img src="~/Content/images/about-me.png" alt="Willy Wonka" class="about-portrait img-responsive"></span>
        <span class="about-medium">I hold a Bachelor of Science in Information Technology and have 13 years of experience in the IT business.</span> <span class="about-small"> I also contribute to various open source projects including <span class="about-italic">linux-kernel</span>, <span class="about-italic">emacs</span>, <span class="about-italic">node.js</span> and <span class="about-italic">homebrew</span>. I use this Blog to share my experiences and my knowledge with the world.</span>

        <div class="about-button">
            <a class="btn btn-xlarge btn-tales-one" href="#contact">Drop Me A Line</a>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 tales-superblock">
                <h2>Social</h2>
                <div class="social-icons clearfix">
                    <a href="#" class="social-icon color-one">
                        <div class="inner-circle"></div>
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="social-icon color-two">
                        <div class="inner-circle"></div>
                        <i class="fa fa-google-plus"></i>
                    </a>

                    <a href="#" class="social-icon color-three">
                        <div class="inner-circle"></div>
                        <i class="fa fa-github-alt"></i>
                    </a>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 tales-superblock" id="contact">
                <h2>Contact</h2>

                <form action="#" method="get" accept-charset="utf-8" class="contact-form">
                    <input type="text" name="name" id="contact-name" placeholder="Name" class="form-control input-lg">
                    <input type="email" name="email" id="contact-email" placeholder="Email" class="form-control input-lg">
                    <textarea rows="10" name="message" id="contact-body" placeholder="Your thoughts..." class="form-control input-lg"></textarea>
                    <div class="buttons clearfix">
                        <button type="submit" class="btn btn-xlarge btn-tales-one">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


